<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <ul>
       <li>{{ name }}</li>
       <li>{{ age }}</li>
       <li>{{ sex }}</li>
       <li>{{ eng | upper | lower | capfirst }}</li>
       <li>{{ now_time | date:'Y-m-d'}}</li>
       <li>{{ id }}</li>
   </ul>
<h1>人如果没有梦想，那和咸鱼有什么区别</h1>
   <ul>
       <li>{{ tan.name }}</li>
       <li>{{ tan.age }}</li>
       <li>{{ tan.sex }}</li>
       <li>{{ tan.say }}</li>
   </ul>
</body>
</html>